img {
    display: block;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0px;
    max-width: 100%;
}

.cat {
    float: left;
    width: 30%;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 20px;
    position: relative;
}
h2 {
   position: absolute;
   top: 560px;
   left: 1%;
   width: 30%;
}
h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.mim {
    font-size: 20px;
    font-weight: bold;
    color: black;
    position: fixed;
    top: 10px;
    right: 10px;
    width: auto;

}

.logo{
	position: fixed;;
	margin: -15px 0px 0px 50px;
}

body {
    background-color: #cc4125;
    font-family: "Helvetica Neue";
    margin: 0;
    padding: 0;
}

p {
    text-indent: 50px;
    text-align: justify;
}

.cabecalho {
    width: auto;
    height: 50px;
    border: 1px solid #000;
    background-color: #660000;
}
