.mim{
  position: fixed;
    top: 10px;
    right: 0;
    width: 100px;
}
.voltar{
  position: absolute;
	top: 10px;
	border: 1px solid black;
	width: 1350px;

}
div {
    width: 1280px;
    margin: auto;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

}

header {
    margin-left: 100px;
    margin-right: 100px;
}

main {
    width: 1280px;
}
