img {
  display: block;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0px;
  max-width: 100%;

}
.categoria{
  border: 1px solid black;
  width: 250px;
  padding: 5px;
  float: left;
}

.mim{
  position: fixed;
    top: 10px;
    right: 0;
    width: 100px;
}

body{
  background-color: #cc4125;
  font-family: "Helvetica Neue";
}
p{
  text-indent: 50px;
  text-align: justify;
}
.cabecalho{
  width:auto;
  height:50px;
  border:1px solid #000;
  background-color: #660000;
}
